body{
	color: black;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;

	background: 
		
		url(../images/bg1.jpg);
		/*url(https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);*/
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	font-style: bolder;
}

main{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	display: flex;
	align-items: center;
	width: 75%;
}


.overview{
	padding: 3em;
}

.fullname{
	font-weight: 300;
	letter-spacing: :3px;
	margin-bottom: 5rem;
	font-size: 35px;
}

.job-title{
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 25px;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr{
	width: 49rem; /*5rem default*/
	border: none;
	height: 4px;
	background-color: grey;
	margin: 1.5rem 0;
}

.description{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
	font-size: 20px;
}

.works{
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2{
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.works img{
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.social-media a{
	color: black;
	margin-bottom: 0.5rem;
	font-size: 30px;
	opacity: .75;
}

.social-media a:hover{
	opacity: 1;
}

.ad{
	margin-bottom: .5rem;
	font-size: 20px;
}

.link{
	color: black;
}

.image-container{
	width: 100%;
	padding: 3rem;
}

.image-container img{
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

/*Make our layout responsive*/

@media (max-width: 980px){
	.container{
		flex-direction: column;
	}

	.image-container{
		width: 100%;
		padding: 3rem 0 0;
	}

	.overview{
		order: 1;
		padding: 3rem 0;
	}

	main{
		background:
		linear-gradient(rgba(0, 255, 222, 0.45), rgba(0, 88 255, 0.45))
		url(../images/bg.jpeg);	
	}

	.fullname, .jobtitle{
		text-align: center;
	}

	.jobtitle{
		font-weight: bolder;
	}

	.description{
		text-align: center;
	}

	hr{
		margin: auto;
	}

	.social-media{
		text-align: center;
		margin-top: 3rem;
	}

	.ad{
		text-align: center;
	}

	.works{
		text-align: center;
	}
}